Thumbs.db
.DS_Store
.idea

releases
config.local.php

# all custom templates
templates/*
!templates/tibiacom
!templates/kathrine

# guild images
images/guilds/*
!images/guilds/default.gif

# cache
system/cache/*
!system/cache/signatures/.htaccess
!system/cache/twig/.htaccess
!system/cache/.htaccess

# logs
system/logs/*
!system/logs/.htaccess

# plugins
plugins/*
!plugins/.htaccess
!plugins/example.json