<IfModule mod_autoindex.c>
	Options -Indexes
</IfModule>

<IfModule mod_negotiation.c>
	Options -MultiViews
</IfModule>

<FilesMatch "^(.*\.md|.*\.json|.*\.dist|.*\.sql|CHANGELOG|README|composer\.lock)$">
	Require all denied
</FilesMatch>

<IfModule mod_rewrite.c>
	RewriteEngine On

	#RewriteBase /myaac/

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^.*$ index.php [L]
</IfModule>
