# uncomment if you want to restrict access only for your ip
#<IfVersion < 2.4>
#    order deny,allow
#    deny from all
#    allow from 127.0.0.1
#</IfVersion>
#<IfVersion >= 2.4>
#    Require ip 127.0.0.1
#</IfVersion>