{% set title = 'Logout Successful' %}
{% set background = config('darkborder') %}
{% set content %}
<table style="width:100%;">
	<tr>
		<td>You have logged out of your {{ config.serverName }} account. In order to view your account you need to <a href="{{ getLink('account/manage') }}" >log in</a> again.</td>
	</tr>
</table>
{% endset %}
{% include 'tables.headline.html.twig' %}
