<tr>
	<td>
		<div class="TableContentContainer ">
			<table class="TableContent" width="100%" style="border:1px solid #faf0d7;">
				<tbody>
				<tr>
					<td>
						<div style="float: right; width: 135px;">
							<form action="{{ getLink('account/2fa') }}?action=email-code" method="post" style="padding:0;margin:0;">
								{{ csrf() }}
								<input type="hidden" name="step" value="deactivate">
								{% set button_name = 'Deactivate' %}
								{{ include('buttons.base.html.twig') }}
							</form>
						</div>
						<b>Two-Factor Email Code Authentication <span style="color: green">Activated</span>!</b>
						<p>To deactivate <b>email code authentication</b>, click on the "Deactivate" button.</p>
						<p>You will have to confirm the deactivation by entering an <b>email code</b> which will be sent
							to the email address assigned to your account.</p>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</td>
</tr>
