<tr>
	<td>
		<div class="TableContentContainer ">
			<table class="TableContent" width="100%" style="border:1px solid #faf0d7;">
				<tbody>
				<tr>
					<td>
						<div class="InTableRightButtonContainer"></div>
						<b>Two-Factor Authenticator App</b>
						<p>Your account is currently protected by email code authentication. If you prefer to use a <b>two-factor
								authentication app</b>, you have to "Deactivate" email code authentication first.</p>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</td>
</tr>
