{% set title = 'Email Code Authentication Activated' %}
{% set content %}
<table style="width:100%;">
	<tbody>
	<tr>
		<td>You have successfully activated <b>email code authentication</b> for your account. This means an <b>email
				code</b> will be sent to the email address assigned to your account whenever you try to log in to the
			{{ config.lua.serverName }} client or the {{ config.lua.serverName }} website. In order to log in, you will need to enter the <b>most recent email code</b> you have received.
		</td>
	</tr>
	</tbody>
</table>
{% endset %}
{% include 'tables.headline.html.twig' %}
{{ include('account.back_button.html.twig') }}
