<script type="text/javascript" src="{{ constant('BASE_URL') }}tools/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
	tinymce.init({
		selector : "textarea",
		theme : "modern",
        plugins: 'print preview searchreplace autolink directionality visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists textcolor wordcount spellchecker imagetools contextmenu colorpicker textpattern help code emoticons',
        toolbar1: 'formatselect | bold italic strikethrough forecolor backcolor | emoticons link | alignleft aligncenter alignright alignjustify  | numlist bullist outdent indent  | removeformat code',
		image_advtab: true,
		relative_urls : false,
		remove_script_host : false,
		document_base_url : "{{ constant('BASE_URL') }}"
	});
</script>
<table width="800" cellspacing="1" cellpadding="2" border="0" align="center">
	<form method="post">
		<tr>
			<td colspan="2" align="center">
				<p class="note note-image" style="width: 80%;">Sending mails may take some time if there are much users in db.</p>
			</td>
		</tr>
		<tr>
			<td align="right">
				<label for="mail_subject">Subject:</label>
			</td>
			<td align="left">
				<input type="text" id="mail_subject" name="mail_subject" value="{{ mail_subject }}" size="30" maxlength="30" />
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<textarea id="mail_content" name="mail_content" style="width: 100%" class="tinymce">{{ mail_content }}</textarea>
			</td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				<input type="checkbox" name="preview" id="preview" value="1"/><label for="preview">Just send test email to me (preview)</label>{% if preview_done %} - <b>Done.</b>{% endif %}<br/><input type="submit" name="submit" value="Send" />
			</td>
		</tr>
	</form>
</table>