<form method="post" action="{{ constant('ADMIN_URL') }}?p=items" id="items_form">
	<input type="hidden" name="reload" value="1"/>
	<button type="submit" class="btn btn-info"><i class="fas fa-update"></i> Reload items and weapons</button>
</form>

<div id="loader" class="spinner-border" role="status">
	<span class="sr-only">Loading...</span>
</div>

<small id="notice"> (it may take some time to finish)</small>

<style>
	#loader {
		display: none;
	}
</style>
<script>
	$(function () {
		$('#items_form').on('submit', function (e) {
			$('#loader').show();

			var $notice = $('#notice');
			$notice.html('Reloading...' + $('#notice').text());
		});
	})
</script>