<form enctype="multipart/form-data" method="post" action="{{ constant('ADMIN_URL') }}?p=plugins">
	<input type="hidden" name="upload_plugin" />
	<table cellspacing="3" border="0">
		<tr>
			<td colspan="2">Install plugin:</td>
		</tr>
		<tr>
			<td>
				<input type="file" name="plugin" />
			</td>
			<td>
				<input type="submit" value="Upload" />
			</td>
		</tr>
	</table>
</form>
<br/><br/>