<div class="card card-info card-outline">
	<div class="card-header">
		<h5 class="m-0">Logs</h5>
	</div>
	<div class="card-body">
		<table class="table table-striped table-bordered" id="tb_logs">
			<thead>
			<tr>
				<th>Log name</th>
				<th>Last updated</th>
			</tr>
			</thead>
			<tbody>
			{% for file in files %}
				<tr>
					<td>
						<a href="{{ constant('ADMIN_URL') }}?p=logs&file={{ file.name }}">{{ file.name }}</a>
					</td>
					<td>{{ file.mtime|date('Y-m-d H:i:s') }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<script>
	$(function () {
		$('#tb_logs').DataTable()
	})
</script>
