<div id="install_plugin">
	<div class="card card-info card-outline">
		<div class="card-header">
			<h5 class="m-0">Install plugin</h5>
		</div>
		<form enctype="multipart/form-data" method="post" action="{{ constant('ADMIN_URL') }}?p=plugins">
			{{ csrf() }}
			<div class="card-body">
				<input type="hidden" name="upload_plugin"/>

				<div class="form-group">
					<label>File input</label>
					<input type="file" name="plugin" accept=".zip">
				</div>
			</div>
			<div class="card-footer">
				<button type="submit" class="btn btn-info">Upload</button>
			</div>
		</form>
	</div>
</div>
