<p>Clicking the button will reload server data (items, monsters, spells, towns, weapons).</p>
<p>It may take up to few minutes.</p>
<button id="reload_button" class="btn btn-info"><i class="fas fa-update"></i>Reload</button>

<div id="spinner" class="spinner-border" role="status">
	<span class="sr-only">Loading...</span>
</div>

<div style="height: 20px"></div>

<div id="messages"></div>

<style>
	#spinner {
		display: none;
	}
</style>
<script>
	$(function () {
		$('#reload_button').on('click', function (e) {
			$('#spinner').show();

			$('[id^=success]').remove();
			$('#messages').append('<div id="success-1"></div>');

			performInstall('{{ constant('ADMIN_URL') }}tools/reload_data.php');
		});
	})
</script>
<script type="text/javascript" src="{{ constant('BASE_URL') }}tools/installer.js"></script>