<script type="text/javascript" src="{{ constant('BASE_URL') }}tools/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
    tinyMCE.init({
        mode : "textareas",
        theme : "advanced",
        plugins: "safari,advimage,emotions,insertdatetime,preview,wordcount",

        relative_urls : false,
        remove_script_host : false,
        document_base_url : "{{ constant('BASE_URL') }}",

        theme_advanced_buttons3_add : "emotions,insertdate,inserttime,preview,|,forecolor,backcolor",

        theme_advanced_toolbar_location : "top",
        theme_advanced_toolbar_align : "left",
        theme_advanced_statusbar_location : "bottom",
        theme_advanced_resizing : true,
    });
</script>
<table width="800" cellspacing="1" cellpadding="2" border="0" align="center">
	<form method="post">
		<tr>
			<td colspan="2" align="center">
				<p class="note note-image" style="width: 80%;">Sending mails may take some time if there are much users in db.</p>
			</td>
		</tr>
		<tr>
			<td align="right">
				<label for="mail_subject">Subject:</label>
			</td>
			<td align="left">
				<input type="text" id="mail_subject" name="mail_subject" value="{{ mail_subject }}" size="30" maxlength="30" />
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<textarea id="mail_content" name="mail_content" style="width: 100%" class="tinymce">{{ mail_content }}</textarea>
			</td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				<input type="checkbox" name="preview" id="preview" value="1"/><label for="preview">Just send test email to me (preview)</label>{% if preview_done %} - <b>Done.</b>{% endif %}<br/><input type="submit" name="submit" value="Send" />
			</td>
		</tr>
	</form>
</table>