<div class="card card-info card-outline">
	<div class="card-header">
		<h5 class="m-0">Open Source Software</h5>
	</div>
	<div class="card-body">
		MyAAC uses following Open Source libraries:<br/><br/>
		<b>HTML/Javascript/CSS:</b>
		<ul>
			<li>Admin LTE - <a href="https://adminlte.io">https://adminlte.io</a> (MIT License)</li>
			<li>Bootstrap - <a href="https://getbootstrap.com">https://getbootstrap.com</a> (MIT License)</li>
			<li>jQuery - <a href="https://jquery.com">https://jquery.com</a> (MIT License)</li>
			<li>jQuery UI - <a href="http://jqueryui.com">http://jqueryui.com</a> (MIT License)</li>
			<li>TinyMCE - <a href="https://www.tiny.cloud">https://www.tiny.cloud</a> (MIT License)</li>
			<li>Font Awesome - <a href="https://fontawesome.com">https://fontawesome.com</a> (MIT License)</li>
			<li>DataTables - <a href="https://datatables.net">https://datatables.net</a> (MIT License)</li>
			<li>jQuery DateTimePicker - <a href="http://xdsoft.net/jqplugins/datetimepicker">http://xdsoft.net/jqplugins/datetimepicker</a> (MIT License)</li>
			<li>jquery.qtip - <a href="http://craigsworks.com">http://craigsworks.com</a> (MIT License)</li>
			<li>Respond.js - <a href="https://github.com/scottjehl/Respond">https://github.com/scottjehl/Respond</a> (MIT License)</li>
			<li>Spectrum Colorpicker - <a href="https://github.com/bgrins/spectrum">https://github.com/bgrins/spectrum</a> (MIT License)</li>
		</ul>
			<b>PHP:</b>
		<ul>
			<li>Twig - <a href="https://twig.symfony.com">https://twig.symfony.com/</a> (3-Clause BSD License)</li>
			<li>PHPMailer- <a href="https://github.com/PHPMailer/PHPMailer">https://github.com/PHPMailer/PHPMailer</a> (LGPL v2.1 License)</li>
			<li>nikic/FastRoute - <a href="https://github.com/nikic/FastRoute">https://github.com/nikic/FastRoute</a> (Custom License, can be found in vendor/nikic/fast-route/LICENSE)</li>
			<li>composer/semver - <a href="https://github.com/composer/semver">https://github.com/composer/semver</a> (MIT License)</li>
			<li>erusev/parsedown - <a href="https://github.com/erusev/parsedown">https://github.com/erusev/parsedown</a> (MIT License)</li>
			<li>PHPOTP - <a href="https://github.com/Voronenko/PHPOTP">https://github.com/Voronenko/PHPOTP</a> (MIT License)</li>
			<li>POT - no website (LGPL v3 License)</li>
		</ul>
	</div>
</div>
