<div class="row">
	<div class="col-12 col-sm-6 col-md-3">
		<div class="info-box">
			<span class="info-box-icon bg-info elevation-1"><i class="fas fa-user-plus"></i></span>
			<div class="info-box-content">
				<span class="info-box-text">Total accounts:</span>
				<span class="info-box-number">{{ count.total_accounts }}</span>
			</div>
		</div>
	</div>
	<div class="col-12 col-sm-6 col-md-3">
		<div class="info-box">
			<span class="info-box-icon bg-red elevation-1"><i class="fas fa-user-plus"></i></span>
			<div class="info-box-content">
				<span class="info-box-text">Total players:</span>
				<span class="info-box-number">{{ count.total_players }}</span>
			</div>
		</div>
	</div>
	<div class="col-12 col-sm-6 col-md-3">
		<div class="info-box">
			<span class="info-box-icon bg-green elevation-1"><i class="fas fa-chart-pie"></i></span>
			<div class="info-box-content">
				<span class="info-box-text">Total guilds:</span>
				<span class="info-box-number">{{ count.total_guilds }}</span>
			</div>
		</div>
	</div>
	<div class="col-12 col-sm-6 col-md-3">
		<div class="info-box">
			<span class="info-box-icon bg-yellow elevation-1"><i class="fas fa-home"></i></span>
			<div class="info-box-content">
				<span class="info-box-text">Total houses:</span>
				<span class="info-box-number">{{ count.total_houses }}</span>
			</div>
		</div>
	</div>
</div>
