<form method="post" action="{{ constant('ADMIN_URL') }}?p=items">
	<input type="hidden" name="reload" value="1"/>
	<button type="submit" class="btn btn-info"><i class="fas fa-update"></i> Reload items and weapons</button><br/><small> (it may take some time to finish)</small>
</form>
