<div class="card card-info card-outline">
	<div class="card-header">
		<h5 class="m-0">{{ file }}</h5>
	</div>
	<div class="card-body pr-0">
		<div style="max-height: 410px; overflow-y: auto;">
			{{ content|raw }}
		</div>
	</div>
</div>
