<form action="{{ link }}" method="post">
	<table width="100%" border="0" cellspacing="1" cellpadding="4">
		<tr><td bgcolor="{{ vdarkborder }}" class="white"><B>Search Character</B></TD></TR>
		<tr><td bgcolor="{{ darkborder }}">
			<table border="0" cellpadding="1">
				<tr>
					<td>Name:</td><td><input name="name" value="" size="29" maxlength="29"{% if autofocus %} autofocus{% endif %}></TD>
					<td>
						<input type=image name="Submit" src="{{ template_path }}/images/buttons/sbutton_submit.gif" border="0" width="120" height="18"/>
					</td>
				</tr>
			</table>
		</td></tr>
	</table>
</form>