<form method="get" action="{{ constant('BASE_URL') }}">
	<hidden name="subtopic" value="{{ constant('PAGE') }}"/>
	<select name="template" onchange="this.form.submit()">{{ options|raw }}</select>
</form>