Dear {{ config.lua.serverName}} player,
<br/><br/>
Your account is protected by email code authentication, and you requested a new email code:
<br/><br/>
<h1><strong>{{ code }}</strong></h1>
<br/>
Note that the code is only valid for 24 hours.
<br/><br/>
Kind Regards,
