<div style="text-align: center;">
	{% for movie in movies %}
	<h2>{{ movie.title }}</h2>
	Author: {{ movie.author }}<br/>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ movie.youtube_id }}" frameborder="0" allowfullscreen></iframe><br/><br/>
	{% endfor %}
</div>