Please enter code from e-mail and name of one character from account. Then press Submit.<br/>
<form action="{{ getLink('account/lost/check-code') }}" method="post">

	{{ csrf() }}

	<table class="myaac-table" style="width: 100%;">
		<thead>
		<tr>
			<th class="white">
				<b>Code & character name</b>
			</th>
		</tr>
		</thead>

		<tbody>
		<tr>
			<td>
				Your code:&nbsp;<input type="text" name="code" value="{{ code }}" size="40"><br/>
				Character:&nbsp;<input type="text" name="character" value="{{ character }}" size="40"><br/>
			</td>
		</tr>
		</tbody>
	</table>
	<br>
	<table style="width: 100%">
		<tr>
			<td align="center">
				{% set button_name = 'Submit' %}
				{% include('buttons.base.html.twig') %}
			</td>
		</tr>
	</table>
</form>
