Please enter e-mail to account with this character.<br/>
<form action="{{ getLink('account/lost/email/send-code') }}" method="post">
	<input type=hidden name="character">
	<table class="myaac-table" style="width: 100%;">

		<thead>
		<tr>
			<th class="white"><b>Please enter e-mail to account</b></th>
		</tr>
		</thead>

		<tbody>
		<tr>
			<td>
				Character: <input type=text name="nick" value="{{ nick }}" size="40" readonly="readonly"><br/>
				E-mail to account: <input type=text name="email" value="" size="40"><br/>
			</td>
		</tr>
		</tbody>

	</table>
	<br>
	<table style="width: 100%">
		<tr>
			<td>
				<div style="text-align:center">
					{% set button_name = 'Submit' %}
					{% include('buttons.base.html.twig') %}
				</div>
			</td>
		</tr>
	</table>
</form>
