Please enter e-mail to account with this character.<br/>
<form action="{{ getLink('account/lost/email/send-code') }}" method="post">
	<input type=hidden name="character">
	<table style="width: 100%; border-spacing: 1px">
		<tr>
			<td style="padding: 4px; background: {{ config('vdarkborder') }}" class="white"><b>Please enter e-mail to account</b></td>
		</tr>
		<tr>
			<td style="padding: 4px; background: {{ config('darkborder') }}">
				Character: <input type=text name="nick" value="{{ nick }}" size="40" readonly="readonly"><br/>
				E-mail to account: <input type=text name="email" value="" size="40"><br/>
			</td>
		</tr>
	</table>
	<br>
	<table style="width: 100%">
		<tr>
			<td>
				<div style="text-align:center">
					{% set button_name = 'Submit' %}
					{% include('buttons.base.html.twig') %}
				</div>
			</td>
		</tr>
	</table>
</form>
