If you enter right recovery key you will see form to set new e-mail and password to account. To this e-mail will be send your new password and account name.<BR>
<form action="{{ getLink('account/lost/recovery-key/step-2') }}" method="post">
	<table style="width: 100%; border-spacing: 1px">
		<tr>
			<td style="padding: 4px; background: {{ config('vdarkborder') }}" class="white">
				<b>Please enter your recovery key</b>
			</td>
		</tr>
		<tr>
			<td style="padding: 4px; background: {{ config('darkborder') }}">
				Character name:&nbsp;<input type=text name="nick" value="{{ nick }}" size="40" readonly="readonly"><br/>
				Recovery key:&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="key" value="" size="40"><br/>
			</td>
		</tr>
	</table>
	<br>
	<table style="width: 100%">
		<tr>
			<td>
				<div style="text-align:center">
					{% set button_name = 'Submit' %}
					{% include('buttons.base.html.twig') %}
				</div>
			</td>
		</tr>
	</table>
</form>
