<div id="GalleryBox" class="Themebox" style="background-image:url({{ template_path }}/images/themeboxes/gallery/gallerybox.gif);">
	<a href="{{ getLink('gallery') }}" >
		<img id="GalleryContent" class="ThemeboxContent" src="{{ image }}" alt="Screenshot of the Day" />
	</a>
	<div class="Bottom" style="background-image:url({{ template_path }}/images/general/box-bottom.gif);"></div>
</div>
