@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

h1{
    font-weight: 100 !important;
}

h3 {
    font-weight: 300 !important;
}